#customizationPanel > div > label {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 3px;
}

#customizationPanel {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  border: 2px rgb(11, 11, 11, .41) solid;
  border-radius: 4px;
  box-shadow: 0 4px 19px -8px rgba(0,0,0,0.6);
  padding: 16px;
}

#customizationPanel > div{
  margin: 13px;
}

#chromePicker {
  flex-grow: 3;
  flex-basis: 50%;
}

.chrome-picker{
  width: unset !important;
  max-width: 90% !important;
}

#sliders {
  flex-grow: 1;
  flex-basis: 50%;
  display: grid;
}

input[type=range]{
  padding: 0px;
  margin-right: 12px;
}
