<style>
        #fh-image-button-container .image-button:hover {
          box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.6); }
        #fh-image-button-container .image-button:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0px;
          left: 0;
          height: 13em;
          background: linear-gradient(to bottom, transparent 0, rgba(0,0,0,0.55) 100%);
          }
        #fh-image-button-container .image-button.-short:before {
            height: 4em;

        }
      #fh-image-button-container .badge {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        display: inline-block;
        padding: 0.5em 1em;
        font-size: 0.6em;
        color: white;
        border-radius: 5px; }
      #fh-image-button-container .tour-info {
        color: white;
        line-height: 1em !important;
        font-size: 1em;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 0 12px rgba(0, 0, 0, 0.6), -10px 6px 40px rgba(0, 0, 0, 0.7), 10px 6px 40px rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 60%;
        text-decoration: none;
        font-weight: bold;
        font-family: sans-serif; }
        @media (max-width: 572px) {
          #fh-image-button-container .tour-info {
            position: relative;
            width: 100%;
            margin-bottom: 1.5em; } }
        #fh-image-button-container .tour-info span {
          font-size: 0.7em;
          font-weight: normal;
          text-decoration: none; }
      #fh-image-button-container .book-btn {
        position: absolute;
        width: fit-content;
        right: 1em; }
      .title {
        line-height: 1.3
      }
      .image-button:hover {box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.6);}
      .subtitle {
        line-height: 1.2
      }
        @media (max-width: 572px) {
          #fh-image-button-container .book-btn {
            width: 100%;
            bottom: 0;
            right: 0;
            left: 0;
            box-sizing: border-box; } }
