
#content-container {
  border: 2px rgb(11, 11, 11, .41) solid;
  min-height: 200px;
  width: 100%;
  border-radius: 4px;
  margin-top: 15px;
}


#fh-image-button-container {
display: -webkit-box;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
        flex-direction: row;
flex-wrap: wrap;
-webkit-box-pack: justify;
        justify-content: space-between;
font-size: 20px;
margin: 15px;

}

      #fh-image-button-container .image-button {
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: end;
                justify-content: flex-end;
        box-sizing: border-box;
        padding: 1em;
        margin: 0.5%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        text-decoration: none;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        overflow: hidden;
        height: 12em; }
        @media (max-width: 800px) {
          #fh-image-button-container .image-button {
            width: 100% !important; } }
        #fh-image-button-container .image-button.-tall {
          height: 17em; }
          #fh-image-button-container .image-button.-medium {
            height: 12em; }
        #fh-image-button-container .image-button.-short {
          height: 7em; }
        #fh-image-button-container .image-button.-half {
          width: 49%; }
        #fh-image-button-container .image-button.-third {
          width: 32.3333333333%; }
        #fh-image-button-container .image-button.-twothirds {
          width: 65.6666666667%; }
          #fh-image-button-container .image-button.-full {
          width: 100%; }
