

#content-container {
  min-height: 160px;
  width: 100%;
  margin-top: 15px;
}

#fh-image-button-container {

  display: -webkit-box;display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 20px;
  margin: 15px;
  align-items: flex-start;
  }

#fh-image-button-container .image-button {
  display: -webkit-box;
  display: flex;position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 4px 6px 0 rgb(0 0 0 / 10%);
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  box-sizing: border-box;
  margin: 1%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;

}

        @media (max-width: 900px) {
          #fh-image-button-container .image-button {
            width: 100% !important; } }
            /*
        #fh-image-button-container .image-button.-tall {
          height: 17em; }
          #fh-image-button-container .image-button.-medium {
            height: 12em; }
        #fh-image-button-container .image-button.-short {
          height: 7em; }
          */
